.form-container{
  display: block;
  justify-content: center;
  height: 85vh;
  background-color: #fffcf7;

}

.input-container{
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10vh 20vh;
}

input[name='fullName'], input[name='email'], input[name='phoneNumber']{
  display: block;
  width: 300px;
  height: 40px;
  margin-bottom: 5vh;
}

textarea[name='description']{
  display: block;
  width: 300px ;
  height: 100px;
  margin-bottom: 5vh;

}

input[name='button']{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
  color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: 1px 2px 2px hsl(0deg 0% 0% / .17), 2px 4px 5px hsl(0deg 0% 0% / .17) ,4px 8px 10px hsl(0deg 0% 0% / .17);
}

input[name='button']:hover{
  background: #333;
  color: #fff;
  transition: 250ms;
}