.cards {
  padding: 2rem 0 0 0 ;
  background-color: #FFF8EB;
}

h1 {
  text-align: center;

}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
}

.cards__item:nth-child(2) {
  transition-delay: 200ms;
}

.cards__item__link {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 90%;
  padding-top: 67%;
  box-shadow: 1px 2px 2px hsl(0deg 0% 0% / .17), 2px 4px 5px hsl(0deg 0% 0% / .17) ,4px 8px 10px hsl(0deg 0% 0% / .17);
  border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #56876D;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}


.cards__item__img {
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s linear;
  background-color: #56876D;
  
}

.leftcard {
  transform: scale(3);
}

.leftcard img {
  filter: 
    drop-shadow(3px 3px 5px rgba(0,0,0,0.2)) 
    drop-shadow(6px 6px 10px rgba(0,0,0,0.1))
    drop-shadow(9px 9px 15px rgba(0,0,0,0.05));
}

.rightcard {
  padding-top: 40px;
  transform: scale(.9);
  
}

.rightcard:hover {
  transform: scale(1);
}

.leftcard:hover {
  transform: scale(3.2);
}

.cards__item__info {
  width: 90%;
  margin: 20px 0px;
  padding: 10px 20px;
  border-radius: 10px;
  /* border: 1px solid #333; */
  box-shadow: 1px 2px 2px hsl(0deg 0% 0% / .17), 2px 4px 5px hsl(0deg 0% 0% / .17) ,4px 8px 10px hsl(0deg 0% 0% / .17);
  background-color: #F6E8D5;
  text-align: center;
}

.cards__item__text {
  color: #333;
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}