.hero-service-container {
  height: 70vh;
  background-color: #FFF8EB;
  display: block;
  align-content: center;
}


.hero-service-text {
  text-align: center;
  position: relative;
  top: -5vh;
  
}