
.hero-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #FFF8EB;
}

.hero-column {
  flex: 1;
  padding: 20px;
  align-content: start;
  text-align: center;
}

.staircase{
  display: flex;
  flex-direction: column;
  padding: 10px 20px ;
}

.staircase > h1 {
  color: #333;
  font-family: "Archivo Black", sans-serif;
  /* font-family: "Old Standard TT", serif;
  font-weight: 700; */
  font-size: 100px;
  margin-top: -30px;
}


.step:nth-child(1) {
  align-self: flex-start;
  transition-delay: 200ms;
}

.step:nth-child(2) {
  align-self: center;
  transition-delay: 400ms;
}

.step:nth-child(3) {
  color: #56876D;
  align-self: flex-end;
  transition-delay: 600ms;
}

.hero-column > sub {
  padding-top: 50px;
}


.hero-column > p {
  margin-top: 8px;
  text-align: center;
  color: #3A3335;
  font-size: 20px;
  
}

.hero-btns {
  display: flex;
  justify-content: center;
  margin: 20px 0px;

}

.hero-btns-app {
  background: #FFFCF7;
  color: #333;
}

.hero-btns-app:hover {
  background: #333;
  color: #FFFCF7;
  transition: 250ms;
}


.right-column {
  justify-content: center;
  height: 70%;
  width: 100%;
}

.left-column {
  height: 100%;
  padding-top: 50px
}

.hero-window {
  background-image: url('../images/RedwoodHeroPhoto.png');
  background-position: 49% 49%;
  background-size: 200%;
  background-color: #FFFCF7;
  margin: 0px 5vh;
  height: 100%;
  position: relative;
  top: -5vh;
  border-radius: 10px;
  box-shadow: 1px 2px 2px hsl(0deg 0% 0% / .22), 2px 4px 5px hsl(0deg 0% 0% / .22) ,4px 8px 10px hsl(0deg 0% 0% / .22);

}


@media screen and (max-width: 1280px) {
  .hero-column > h1 {
    font-size: 60px;
  }

  .hero-column > p {
    font-size: 35px;
  }
}


@media screen and (max-width: 768px) {

  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-column > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-column > p {
    font-size: 30px;

  }

  .btn-mobile {
    display:block;
    text-decoration: none;
  }

  .right-column {
    border: 0px solid #333;
    height: 70%;
    border-radius: 10px;
    width: 100%;
  }
  
  .hero-window {
    margin: 0px 10vh;
    height: 90%;
    border-radius: 10px;
  
  }

 
  
}